body {
    padding-left: 2.75%;
    padding-right: 2.75%;
    background: #fdfdfd;
}


hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #89ff00;
    border-width: 5px;
    width: 5%;
}

h1 {
    font-size: 2em;
    text-align: center;
}

h3 {
    font-size: 1.5em;
    text-align: center;
}

p {
    font-size: 1.25em;
    line-height: 23px;
}

li {
    font-size: 1.25em;
}

table {
    border-collapse: separate;
    border-spacing: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

th {
    font-size: 1.4em;
    background-color: #646363;
    color: white;
}

td {
    font-size: 1.25em;
    width: 250px;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
}